a {
  text-decoration: none;
}

header {
  font-family: "Nunito", sans-serif;
}
header .top_nav {
  display: flex;
  background-color: #0C4B35;
  align-items: center;
  height: 55px;
}
header .top_nav .left_menu {
  flex: 0 0 120px;
  max-width: 120px;
  min-width: 120px;
  display: flex;
}
header .top_nav .left_menu .top_menu_icon {
  margin-left: 20px;
}
header .top_nav .language {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
header .top_nav .language .menu_link {
  text-decoration: none;
}
header .top_nav .language .menu_link .arrow {
  background-image: url(img/Vector.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: relative;
  left: 50px;
  bottom: 10px;
}
@media (max-width: 1023px) {
  header .navigation_desktop {
    display: none;
  }
  header .desktop_only {
    display: none;
  }
}
header .navigation {
  display: flex;
  align-items: center;
  height: 70px;
}
header .navigation .logo_box {
  flex: 1 1 auto;
  padding-left: 15px;
}
header .navigation .mid_menu_icon {
  flex: 0 0 30px;
  padding-left: 15px;
  padding-right: 15px;
}
header .title_img {
  background-image: url(img/medium-shot-woman-holding-plant-pots.svg);
  background-size: cover;
  background-position-y: -10px;
  padding-bottom: 58.66666%;
}
header .bg {
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
}
header .bg .slogan {
  display: flex;
}
header .bg .slogan .leaves_img {
  flex: 0 0 20px;
}
header .bg .slogan .slogan_text {
  font-size: 14px;
  font-weight: 700;
  flex: 1 1 auto;
  margin-left: 5px;
  line-height: 21px;
  color: #212529;
}
header .bg h1 {
  font-size: 28px;
  font-weight: 700;
  color: #212529;
  margin-top: 10px;
}
header .bg h1 span {
  color: #0C4B35;
}
header .bg p {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  margin-top: 15px;
}
header .bg .btn_box {
  text-align: center;
}
header .bg .btn_box button {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #00730C;
  color: white;
  margin-top: 40px;
}
header .bg .btn_box button span {
  font-weight: 700;
  font-size: 16px;
}
header .bg .bottom_menu_link_box {
  margin-top: 20px;
  text-align: center;
}
header .bg .bottom_menu_link_box a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #00730C;
}
header .bg .bottom_info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 105px;
}
header .bg .bottom_info .flex_img {
  height: 120px;
  position: absolute;
  top: 700px;
  left: 10px;
}
header .bg .bottom_info .info {
  flex: 0 0 130px;
  max-width: 130px;
  min-width: 130px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
  color: #212529;
  font-size: 10px;
  font-weight: 400;
  margin-left: 15px;
  line-height: 30px;
  text-align: center;
}
header .bg .bottom_info .info span {
  font-size: 12px;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */